
/*css menu*/
.list-group-item{
  margin-top: 4rem;
    padding-top: 2rem;
    margin-left: 2px;
    margin-right: 2px;
font-size: 5px;
background: black;
text-transform: uppercase;
letter-spacing: 1px;
font-family:Arial, Helvetica, sans-serif;    
align-content: center;
}

.list-group-item:hover{
    background: black;
    color: rgb(160, 2, 2);
  
}

.list-group{
    font-size: 15px;
    text-align: center !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
.list-group-horizontal{
    margin-left: auto !important;
    margin-right: auto !important;
}
.list-group::after{
    background: black;
    color: rgb(160, 2, 2);
    border: rgb(160, 2, 2) solid 1px; 
    
}
.list-group-item-dark{
    color: white;
    font-size: 15px !important;

}
.menu{
    margin-top: 2rem;

}

/*Fin css menu*/
/*card administracion*/
.card{
  width: 100%;
    text-align: center;
    margin-top: 2rem;
}
/*CSS TABLA REVISTA*/
table {
    width: 100%;
    align-self:center;

  }
  .mat-table{
background:rgba(255, 255, 254, 0.877);
}
.mat-paginator{
    background:rgba(255, 255, 255, 0.877); ;
    color: rgb(0, 0, 0);
    width: 100%;
}
    th.mat-sort-header-sorted {
    color: rgb(252, 10, 10);
    text-align: center;

  }
.mat-form-field{
    font: normal;
    font-size: 1rem;
    width: 100%;
    margin: 0 auto;
    display: block;
    margin-top: 1rem;
    background:rgba(255, 255, 254, 0.877);
    color: rgb(0, 0, 0);
      
}
td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
    padding-left: 15px;
    padding-right: 0px;
    text-align: center;
width: 5%;
}

td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {
    padding-right: 4px;
text-align: center;
}



.btn-primary{
    background: rgb(0, 119, 255);
    height: 35px;
}
  .fa-pen-square{
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
    padding: 2px;
    margin: 5px 5px 5px 5px;
}
.fa-trash{
    background: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    padding: 2px;
    margin: 5px 5px 5px 5px;
}
.fa-plus-square{
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    color: rgb(255, 255, 255);
    padding: 2px;
    margin: 5px 5px 5px 5px;
}
button:hover{
    background: rgb(207, 207, 209);
    outline: none;
    border: none;
 }
 button{
     padding: 2px 2px 2px 2px;
     
     margin-left:40px;
     margin-right: 10px;
 }
 .btn-danger{
    background: rgb(255, 0, 0);
 }
 /*Fin CSS Tabla Revistas*/

  .col-lg{
      padding: 0px !important;
      margin-top: 0px;
  }
 
 
  /**/
div.center {
    text-align: center;
    
  }

.button{
    background:firebrick;
    color: #fff;
    display: inline-block;
    font-size: 1.25em;
    margin: 20px;
    padding: 10px 10px;
    text-align: center;
    width: 200px;
    text-decoration: none;
    margin-left: 2%;


  }
  /*Lista*/
  .list-group-item-dark{
      color: white;
      font-size: 22px;
  }

  body{
    background: linear-gradient(white (0, 0, 0, 0.5), white (0, 0, 0, 0.55)), 
    url("../assets/fondo tese 2.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    background-color: white;
    color: white;
}

    .active-link{
    color:red;
    }

    #pricing {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.55)), 
        url("../assets/fondo tese 2.jpg");
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        position: relative;
        background-color: white;
        color: white;
    }
    #pricing .section-title {
        padding-bottom: 75px;
    }
    
    .pricing-table ul {
        padding-left: 0;
        padding-top: 20px;
        padding-bottom: 30px;
    }
    
    .pricing-table li {
        list-style-type: none;
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #C1C1C1;
        color: #ff0808;
        font-weight: 500;
        letter-spacing: 1px;
        line-height: 22px;
        font-size: 18px;
    }
    
    .pricing-table {
        text-align: center;
        color: white;
        background-color:initial;
        padding-bottom: 50px;
        margin-top: 15px;
        margin-bottom: 15px;
        border-radius: 4px;
    }
    .pricing-table.big {
        padding-bottom: 60px;
        margin-top: -25px;
    }
    /*Titulos de revista*/

    .pricing-table h4 {
        font-size: 20px;
        text-transform: uppercase;
        color: white;
        padding-top: 40px;
        padding-bottom: 40px;
        margin-bottom: 0;
    }
    
    .pricing-table.big h4 {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .pricing-table .price {
        font-family: 'Work Sans', sans-serif;
        background-color: #292929;
        padding-top: 25px;
        padding-bottom: 25px;
        font-size: 46px;
        line-height: 50px;
        font-weight: 600;
    }
    
    .pricing-table.big .price {
        background-color: #EE5A3F;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    
    .pricing-table.popular .price {
        background-color: #EE5A3F;
    }
    
    .section-title {
        text-align: center;
        padding-bottom: 90px;
    }
    .section-title h2 {
        text-transform: uppercase;
    }
    .section-title p {
        padding-bottom: 8px;
        margin-bottom: 0;
    }
    .section-title hr {
        display: inline-block;
        top: 4px;
    }
    .section-title.light p{
        color: #fff;
    }
    .section-title.light hr {
        border-color: rgba(255,255,255, .5);
    }
    .section-title i {
        background-color: transparent;
        padding-left: 11px;
        padding-right: 10px;
        font-size: 24px;
    }
    hr.left {
        position: relative;
        max-width: 250px;
        width: 100%;
    }
    hr.right {
        max-width: 250px;
        width: 100%;
        position: relative;
    }    

  