
<!---
<div class="card mt-5" >
  <div class="card-body">
      <form formGroup="editPostForm" (ngSubmit)="editPost(editPostForm.value)">
        <input type="hidden" name="id" #id= "ngModel" [(ngModel)]="postSvc.selectedRevista.id" *ngIf="postSvc.selectedRevista.id==id">
          <h1 class="titulo">AGREGAR NUEVA REVISTA</h1>

        <div class="etiqueta">
          <label>Número de Revista:</label>
        </div>
          <div class="form-group">
              <input 
              type="text"
              class="form-control"
              name="numeroR"
              #nombre="ngModel"
              [(ngModel)]="postSvc.selectedRevista.numeroR"
              placeholder="Escribe número de revista"
              />
          </div>
<div class="etiqueta">
  <label>Selecciona Portada:</label>
</div>
          <div class="form-group">
              <input
              type="file"
              class="form-control"
              name="imagenR"
              (change)="handleImage($event)"
              #nombre="ngModel"
              [(ngModel)]="postSvc.selectedRevista.imagenR"
              />
          </div>

         
       
<div class="form-group">

  <button class="class btn btn-primary" type="submit"  >
      <i class="fas fa-plus-circle"></i>Agregar Revista
  
  </button>


</div>
      </form>
  </div>
</div>
 --->

<div class="inicio">
 <div class="container">
   <div class="card"> 
     <h1>PAGINA INICIO Actual</h1>
        </div>
  <div class="row">
    <div class="col">
  
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      
        <!-- Position Column -->
        <ng-container matColumnDef="numero">
          <th mat-header-cell *matHeaderCellDef  mat-sort-header> Número de revista: </th>
          <td mat-cell *matCellDef="let element">{{element.numeroR}} </td>
        </ng-container>
        <ng-container matColumnDef="portada">
          <th mat-header-cell *matHeaderCellDef  mat-sort-header> URL portada: </th>
          <td mat-cell *matCellDef="let element">{{element.URLportada}} </td>
        </ng-container>
        <ng-container matColumnDef="pdf">
          <th mat-header-cell *matHeaderCellDef  mat-sort-header> URL pdf: </th>
          <td mat-cell *matCellDef="let element">{{element.URLpdf}} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef  >Acciones</th>
          <td mat-cell *matCellDef="let element">
            <button type="button" class="btn btn-danger" (click)="onDeletePost(element)">
              <i class="fas fa-trash"></i>
              Eliminar
                 </button>   
                     </td>
        </ng-container>
        <!----Acciones-->
        
        
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
      </table>
      </div>
  </div>
   <div class="row">
    <div class="col-md-6">
  <div class="card mt-5" >
    <div class="card-body">
       <form #RevistaForm="ngForm" (ngSubmit)="addNewPortada(RevistaForm.value)">
                <h1 class="titulo">Formulario Pagina de Inicio</h1>
            <div class="etiqueta">
              <label>Numero de Revista: </label>
            </div>
              <div class="form-group">
                  <input 
                  type="text"
                  class="form-control"
                  name="numeroR"
                  #nombre="ngModel"
                  [(ngModel)]="postSvc.selectedRevista.numeroR"
                  placeholder="Numero de revista"
                  >
              </div>
             <div class="etiqueta">
                 <label>URL portada: </label>
             </div>
            <div class="form-group">
                <input 
                type="text"
                class="form-control"
                name="URLportada"
                #nombre="ngModel"
                [(ngModel)]="postSvc.selectedRevista.imagenR"
                placeholder="Url de portada"
                >
            </div>
            <div class="etiqueta">
              <label>URL de pdf: </label>
            </div>
              <div class="form-group">
                  <input 
                  type="text"
                  class="form-control"
                  name="URLpdf"
                  #nombre="ngModel"
                  [(ngModel)]="postSvc.selectedRevista.pdf"
                  placeholder="Url de revista"
                  >
              </div>
  <div class="form-group">
      <button class="class btn btn-primary" type="submit">
      <i class="fas fa-plus-circle" ></i>Agregar Portada
      </button>
    
     <button class="btn btn-secondary" type="reset" (click)="resetForm(RevistaForm)">  
     <i class="fas fa-sync-alt"></i>Reset
     </button>
 
    </div>
        </form>
    </div>
  </div>
  </div>

  <!----->
  <div class="col-md-4">
    <div class="card" >
      <div class="card-body">
    <div  *ngIf="portadas$ | async as portadas">
    
      <div  *ngFor="let portada of portadas">
        <div>  <a href="{{portada.URLpdf}}" target="_blank">
          <img src="{{portada.URLportada}}" alt="TecnoCultura 49" width="350" class="img-fluid book-mockup"> 
          <img src="https://firebasestorage.googleapis.com/v0/b/tecnocultura-df5ce.appspot.com/o/logolatinIndex.jpg?alt=media&token=e4342a54-001d-4adf-9f87-ad6329620197" width="100" height="28" alt=""/></a> </div>
      </div>
    </div>
  </div>
  </div>
</div>
</div>

</div>
</div>


      
