.container{
  width: 100%;
}
.card{
 margin-top:8rem;
 text-align: center;
 outline: none;
 width: 100%;
}
.card-body{
  background:initial;
}
.inicio{
  align-self: flex-end;
  margin-top: 1rem;
}
.col-md-6{
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
}
.col-md-4{
 
  display: initial;
  margin-left: auto;
  margin-right: auto;
  
}
table{
  margin-top:1px;
}